[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=DPI setting
Comment=
Exec=bash -c 'xrandr --dpi ${DPI:-96}'
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

